body {
  margin: auto;
}

ol, ul {
  list-style: none;
}

.nav-div {
  text-align: center;
}

.fetch-div {
  border: solid orangered 10px;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fetched-potions-div {
  border: solid blue 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

.fetched-details-div {
  border: solid orange 2px;
  margin: 5px;
  padding: 5px;
}

.loading-div {
  text-align: center;
}

.potion-name {
  font-weight: bold;
  text-decoration: underline;
}

.create-div, .form-div {
  display: flex;
  flex-direction: column;
}

div, label {
  margin: 10px;
}

button {
  width: 100px;
}