* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
}

h1 {
  margin: 2vw;
}

ol, ul {
  list-style: none;
}

div {
  height: fit-content;
}

input, select {
  margin: 5px;
}

a {
  color: darkgreen;
}

.home-div {
  display: flex;
  flex-direction: column;
  border: orchid solid 10px;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 5px;
  text-align: center;
  background-color: lightblue;
}

.nav-div {
  text-align: center;  
}

.loading-div {
  text-align: center;
}

.potion-name {
  font-weight: bold;
  text-decoration: underline;
  font-style: italic;
  color: black;
}

.fetch-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1vw auto;
  padding: 1vw;
  overflow: scroll;
}

.fetched-potions-div {
  border: solid blue 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1vw;
  padding: 2vw;
  overflow: scroll;
}

.fetched-details-div {
  border: solid orangered 3px;
  background-color: lightgray;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;

  transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.no-underline {
  text-decoration: none;
}

.fetched-details-div:hover {
  background-color: lightyellow;
  transform: scale(1.10);
}

.create-div, .form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-div {
  align-self: center;
  width: fit-content;
  margin: 10px;
  padding: 10px;
  border: solid 3px orangered;
  background-color: gold;
}

.create-button {
  background-color: yellow;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
}

.update-form-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  padding-bottom: 15px;
  border: solid 3px purple;
  background-color: plum;
}

.update-button {
  background-color: silver;
  font-weight: bold;
  width: fit-content;
  margin-top: 10px;
  padding: 5px;
  text-decoration: none;
}

.delete-button {
  background-color: red;
  font-weight: bold;
  width: fit-content;
  margin: 10px;
  padding: 5px;
}

/* @media (max-width: 900px) {
  body {  
      width: 500px;
  }

  .home-div {  
      width: 500px;
  }

  .fetch-div {  
      width: 450px;
  }
}

  @media (max-width: 600px) {
    body {  
        width: 300px;
    }
  
    .home-div {  
        width: 300px;
    }
  
    .fetch-div {  
        width: 250px;
    }
} */
